{
    "root": true,
    // https://github.com/hhru/eslint-config-hh
    "extends": ["@hh.ru/eslint-config", "prettier", "prettier/standard"],
    "plugins": ["prettier"],
    "parser": "babel-eslint",
    "rules": {
        "prettier/prettier": ["error"],
        "no-restricted-properties": ["error", {
            "object": "Reflect"
        }],
        "no-restricted-syntax": [
            "error",
            "NewExpression[callee.name='Proxy']",
            "NewExpression[callee.name='WeakSet']",
            "NewExpression[callee.name='WeakMap']",
            "NewExpression[callee.name='Int8Array']",
            "NewExpression[callee.name='Uint8Array']",
            "NewExpression[callee.name='Uint8ClampedArray']",
            "NewExpression[callee.name='Int16Array']",
            "NewExpression[callee.name='Uint16Array']",
            "NewExpression[callee.name='Int32Array']",
            "NewExpression[callee.name='Uint32Array']",
            "NewExpression[callee.name='Float32Array']",
            "NewExpression[callee.name='Float64Array']"
        ]
    }
}
